* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    height: 100vh;
}
.menu{
    display: flex;
    width: 200px;
    justify-content: space-between;
    height: 95vh;
    padding: 10px;
    flex-direction: column;
    background-color: #003d73;
}

.menu .icon{
    font-size: 30px;
}

nav.menu-lateral {
    width: 170px;
    height: 100%;
    background-color: #003d73;
    box-shadow: 2px 0 0 #000000;

    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .2s;
}

nav.menu-lateral:hover {
    width: 220px;
}


.btn-expandir {
    width: 74%;
    padding-left: 0px;
}

.btn-expandir>i {
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

ul {
    height: 100%;
    list-style-type: none;
}

ul li.item-menu {
    transition: .2s;
}

ul li.item-menu:hover {
    background: #1B77C2;
}

ul li.item-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    /* padding: 22px 4%; */
    display: flex;
    /* margin-bottom: 15px; */
    /* line-height: 40px; */
}

ul li.item-menu a .txt-link {
    margin-left: 40px;
}

ul li.item-menu a .icon>i {
    font-size: 22px;
    margin-left: 10px;
}

.caixa1{
/* height: 30px; */
margin-bottom: 25px;
}

.caixa2{
    /* height: 50px; */
}

.conteiner{
    width: 65%;
}

.menu-lateral p{
    color: #fff;
    background-color: #053155;
    height: 20px;
}

.btn-expandir{
    display: flex;
    align-items: end;
}

section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.linha1{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.linha2{
    display: flex;
    justify-content: space-between;
}

.secao1 {
    width: 422px;
    height: 275px;
    margin-bottom: 20px;
}

.secao2 {
    width: 422px;
    height: 275px;
}

.secao3 {
    width: 422px;
    height: 275px;
    margin-bottom: 20px;
}

.secao4 {
    width: 422px;
    height: 275px;
}

@media screen and (max-width: 768px) {
    section {
        flex-direction: column;
        width: 800px;
    }

    .linha1{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .linha2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .secao3,.secao1{
        margin-bottom: 20px;
    }
}

.linha1 img{
    max-width: 424px;
    width: 100%;
}

.linha2 img{
    max-width: 424px;
    width: 100%;
}
.linha3 img{
    max-width: 424px;
    width: 100%;
}
.linha4 img{
    max-width: 424px;
    width: 100%;
}